@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Honk&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
--azul-escuro: #03045eff;
--azul: #0077b6ff;
-cyano-escuro: #00b4d8ff;
--cyano: #90e0efff;
--cyano-claro: #caf0f8ff;
--fonte-titulo: "Honk", system-ui;
--fonte-texto: "Amiri Quran", serif;
}

body{
    background-color: var(--azul);
    font-family: var(--fonte-texto);
    font-size: 16px;
}

.titulo-principal{
    font-family: var(--fonte-titulo);
}

.texto{
    font-family: var(--fonte-texto);
}
