@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Honk&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
--azul-escuro: #03045eff;
--azul: #0077b6ff;
--cyano-escuro: #00b4d8ff;
--cyano: #90e0efff;
--preto: rgb(0, 0, 0);
--fonte-titulo: "Honk", system-ui;
--fonte-texto: "Amiri Quran", serif;
}

body{
    background-image: var(--preto);
    font-family: var(--fonte-texto);
    font-size: 16px;
}

.titulo-principal{
    font-family: var(--fonte-titulo);
}

.texto{
    font-family: var(--fonte-texto);
}

.cabecalho{
    background-color: var(--azul-escuro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.cabecalho-img{
    width: 13%;
    border-radius: 100%;
}

.cabecalho_nav_link{
    text-decoration: none;
    font-family: var(--fonte-texto);
    font-size: 200%;
    color: var(--cyano);
    margin-right: 24px;
}

.cabecalho_nav_link:hover{
    color: var(--cyano);
    font-size: 200%;
    transition: 0,5s;
    text-shadow: 2px 2px var(--preto);
}

.principal-capa{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    background-image: url(img/dungeon.jpg);
    padding: 24px 12px;
}

.principal-capa_conteudo{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.principal-capa_titulo{
    font-family: var(--texto-titulo);
    font-size: 32px;
    color: var(--azul);
    margin-bottom: 12px;
}

.principal-capa_texto{
    font-size:24px;
    margin-top: 24px;
}

.principal-capa_image{
    border-radius: 0 5% 0 5%;
}
